body {
	background-image: url("../img/dark-background-abstract-background-network-3d-background-7680x4320-8324.png");
	}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Estilo {
	width: 400px;
	background: #000000;
	padding: 15px;
	margin: 2% auto;
	/* margin-top: 10%; */
	border-radius: 20px;
	font-family: 'calibri';
	color: white;
	box-shadow: 2px 4px 15px #2712e7;
}

.Estilo h4 {
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
	color: #2712e7;
}

.Caja {
	width: 100%;
	background: #838383cc;
	padding: 10px;
	border: 1px solid #616a6b;
	border-radius: 7px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 18px;
	color: #000000;
}

.botones {
	width: 100%;
	background: #2712e7;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

::placeholder {
	color: white;
}

.Enlace {
	color: #2712e7;
	text-decoration: none;

}

.check {
	background-color: #2712e7;
}

.Estilo h5 {
	color: #2712e7;
	margin-bottom: 5px;
}

.Cajaclave {
	width: 100%;
	background: #838383cc;
	padding: 10px;
	border: 1px solid #616a6b;
	border-radius: 7px;
	margin-bottom: 5px;
	font-family: 'calibri';
	font-size: 18px;
	color: #2712e7;
}

p {
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

#mensajeclave {
	display: none;
	color: rgb(29, 15, 223);
}
#mensajeCorreo {
	display: none;
	color: rgb(29, 15, 223);
}
@font-face {
    font-family: 'Graffonti';
    src: url('letras/degrassi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.graffiti-font {
    font-family: 'Graffonti', sans-serif;
    font-size: 3em;
    color: #000; }