body {
    font-family: Bahnschrift, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


.sidebar {
    width: 0;
    background-color: blue;
    height: 100vh;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.sidebar ul li a:hover, .sidebar ul li .dropbtn {
    background-color: #575757;
}

/* Estilos para el botón que abre el menú */
.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.open-btn:hover {
    background-color: #444;
}

/* Estilos para el contenido principal */
main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
   
    transition: margin-left 0.5s;
}

.dropdown-content {
    display: none;
    background-color: #444;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Estilos para el menú cuando se abre */
.sidebar.open {
    width: 200px;
    padding: 75px 0;
}

main.open {
    margin-left: 240px;
}

/* Estilos para los productos */
.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.product .info {
    text-align: left;
}

.product .info h3 {
    margin: 0 0 10px 0;
}

.product .info p {
    margin: 0;
    color: #555;
}